In [ ]:
!pip install python-docx

In [ ]:
from docx import Document

# 読み込むWordファイルのパス
file_path = "sample.docx"

# Wordファイルを開く
doc = Document(file_path)

# 各段落のテキストを表示
for paragraph in doc.paragraphs:
    print(paragraph.text)

In [4]:
# Colab 以外の環境（ローカルに構築したJupyter Notebookなど）で同じデータを表示したい場合は
# scikit-learn 側の公式関数でダウンロードしpandas DataFrame に読み込みます。
from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing(as_frame=True)
df = housing.frame

# データフレームの最初の5行を表示
print(df.head())

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  MedHouseVal
0    -122.23        4.526
1    -122.22        3.585
2    -122.24        3.521
3    -122.25        3.413
4    -122.25        3.422

In [7]:
import pandas as pd

# df2というデータフレームにmaster_customer.csvファイルを読み込み、最初の列を行見出しとして扱う(index_colで指定)
df2 = pd.read_csv("../data/master_customer.csv", index_col=0)

In [8]:
df2

,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
customer_id,,,,,,,,,,
23085.0,2018/2/28,543-9190,東京都,0.0,1996/11/7,大西,奏太,Onishi,Souta,4.0
15469.0,2019/6/9,363-1372,北海道,0.0,1992/9/16,三浦,拓也,Miura,Takuya,NaN
15482.0,2020/9/5,706-1755,大阪府,1.0,1959/2/17,中島,優衣,Nakajima,Yui,8.0
17107.0,2016/1/1,277-3282,愛知県,0.0,1977/11/11,原,陸,Hara,Riku,2.0
24156.0,2011/9/24,485-6282,福岡県,0.0,1991/1/6,今井,翼,Imai,Tsubasa,7.0
...,...,...,...,...,...,...,...,...,...,...
9996.0,2022/2/14,038-1879,愛媛県,0.0,1992/6/20,西村,昌,Nishimura,Sho,2.0
9997.0,2015/6/8,495-1602,大阪府,0.0,1958/7/29,千葉,潔,Chiba,Kiyoshi,5.0
9998.0,2010/3/26,685-2641,東京都,1.0,1965/10/24,石川,良,Ishikawa,Ryo,4.0
9999.0,2010/11/17,513-3788,奈良県,1.0,1970/9/14,服部,みちる,Hattori,Michiru,4.0
10000.0,2013/3/6,409-8780,北海道,2.0,1944/11/21,斉藤,鷹志,Saitou,Takashi,3.0

In [11]:
# Shift_JISを指定して読み込み

df3 = pd.read_csv("../data/master_customer_Sjis.csv", index_col=0, encoding="utf-8-sig")

In [12]:
df3

,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
customer_id,,,,,,,,,,
23085.0,2018/2/28,543-9190,東京都,0.0,1996/11/7,大西,奏太,Onishi,Souta,4.0
15469.0,2019/6/9,363-1372,北海道,0.0,1992/9/16,三浦,拓也,Miura,Takuya,NaN
15482.0,2020/9/5,706-1755,大阪府,1.0,1959/2/17,中島,優衣,Nakajima,Yui,8.0
17107.0,2016/1/1,277-3282,愛知県,0.0,1977/11/11,原,陸,Hara,Riku,2.0
24156.0,2011/9/24,485-6282,福岡県,0.0,1991/1/6,今井,翼,Imai,Tsubasa,7.0
...,...,...,...,...,...,...,...,...,...,...
9996.0,2022/2/14,038-1879,愛媛県,0.0,1992/6/20,西村,昌,Nishimura,Sho,2.0
9997.0,2015/6/8,495-1602,大阪府,0.0,1958/7/29,千葉,潔,Chiba,Kiyoshi,5.0
9998.0,2010/3/26,685-2641,東京都,1.0,1965/10/24,石川,良,Ishikawa,Ryo,4.0
9999.0,2010/11/17,513-3788,奈良県,1.0,1970/9/14,服部,みちる,Hattori,Michiru,4.0
10000.0,2013/3/6,409-8780,北海道,2.0,1944/11/21,斉藤,鷹志,Saitou,Takashi,3.0