In [2]:
# 必要なライブラリのインポート
import pandas as pd

# データセットの読み込み (dfにcsvデータを読み込む）
df = pd.read_csv("../data/master_customer.csv")
# 読み込んだデータの確認　（dfの中を確認）
df
# 行数の確認
len(df)

10000

In [3]:
# データセットの読み込み
df2 = pd.read_csv("../data/transaction_history.csv")
# 読み込んだデータの確認（df2の中を確認）
df2
# 行数の確認
len(df2)

458167

In [5]:
# 読み込んだデータの確認（dfの中を確認）
df
# 列数の確認
len(df.columns)

11

In [6]:
# 読み込んだデータの確認　（df2の中を確認）
df2
# 列数の確認
len(df2.columns)

8

In [7]:
# 読み込んだデータの確認　（dfの中を確認）
df
# 行数と列数の確認
df.shape

(10000, 11)

In [8]:
# 読み込んだデータの確認　（df2の中を確認）
df2
# 行数と列数の確認
df2.shape

(458167, 8)

In [9]:
# データの概要と行数・列数を確認
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             9669 non-null   float64
 1   registration_date       9668 non-null   object
 2   zip                     9661 non-null   object
 3   region                  9663 non-null   object
 4   gender                  9667 non-null   float64
 5   birthday                9663 non-null   object
 6   surname                 9667 non-null   object
 7   firstname               9667 non-null   object
 8   surname_alpha           9668 non-null   object
 9   firstname_alpha         9668 non-null   object
 10  first_purchase_trigger  6517 non-null   float64
dtypes: float64(3), object(8)
memory usage: 859.5+ KB

In [10]:
# 読み込んだデータの冒頭数行を確認　（dfの冒頭を確認）
df.head()

,customer_id,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
0,23085.0,2018/2/28,543-9190,東京都,0.0,1996/11/7,大西,奏太,Onishi,Souta,4.0
1,15469.0,2019/6/9,363-1372,北海道,0.0,1992/9/16,三浦,拓也,Miura,Takuya,NaN
2,15482.0,2020/9/5,706-1755,大阪府,1.0,1959/2/17,中島,優衣,Nakajima,Yui,8.0
3,17107.0,2016/1/1,277-3282,愛知県,0.0,1977/11/11,原,陸,Hara,Riku,2.0
4,24156.0,2011/9/24,485-6282,福岡県,0.0,1991/1/6,今井,翼,Imai,Tsubasa,7.0

In [11]:
# 読み込んだデータの冒頭数行を確認　（dfの冒頭10行確認）
df.head(10)

,customer_id,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
0,23085.0,2018/2/28,543-9190,東京都,0.0,1996/11/7,大西,奏太,Onishi,Souta,4.0
1,15469.0,2019/6/9,363-1372,北海道,0.0,1992/9/16,三浦,拓也,Miura,Takuya,NaN
2,15482.0,2020/9/5,706-1755,大阪府,1.0,1959/2/17,中島,優衣,Nakajima,Yui,8.0
3,17107.0,2016/1/1,277-3282,愛知県,0.0,1977/11/11,原,陸,Hara,Riku,2.0
4,24156.0,2011/9/24,485-6282,福岡県,0.0,1991/1/6,今井,翼,Imai,Tsubasa,7.0
5,10000.0,2022/8/15,209-8236,広島県,1.0,1981/5/22,太田,恵子,Ota,Keiko,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10020.0,2019/9/1,386-1271,沖縄県,1.0,2000/1/21,森,愛,Mori,Ai,1.0
8,10056.0,2018/8/1,255-8778,京都府,0.0,1970/2/27,菊地,直樹,Kikuchi,Naoki,NaN
9,10061.0,2015/2/27,181-2062,栃木県,0.0,1981/6/11,松井,太郎,Matsui,Tarou,7.0

In [12]:
# 読み込んだデータの末尾を確認　（dfの末尾を確認）
df.tail()

,customer_id,registration_date,zip,region,gender,birthday,surname,firstname,surname_alpha,firstname_alpha,first_purchase_trigger
9995,9996.0,2022/2/14,038-1879,愛媛県,0.0,1992/6/20,西村,昌,Nishimura,Sho,2.0
9996,9997.0,2015/6/8,495-1602,大阪府,0.0,1958/7/29,千葉,潔,Chiba,Kiyoshi,5.0
9997,9998.0,2010/3/26,685-2641,東京都,1.0,1965/10/24,石川,良,Ishikawa,Ryo,4.0
9998,9999.0,2010/11/17,513-3788,奈良県,1.0,1970/9/14,服部,みちる,Hattori,Michiru,4.0
9999,10000.0,2013/3/6,409-8780,北海道,2.0,1944/11/21,斉藤,鷹志,Saitou,Takashi,3.0