In [1]:
# pandasパッケージを、以降はpdという名前で呼び出しますという宣言です.
import pandas as pd

In [2]:
# データセットの読み込み(dfにcsvデータを読み込む)
# ここでは、本番用に用意した利用実績のデータを読み込みます
df = pd.read_csv("../data/transaction_history.csv")

In [3]:
df

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
0,23085,G03257PD,2020/3/13,7200,True,6200.0,現金,2.0
1,15469,CKZF21ZC,2023/3/29,15400,False,NaN,カード,2.0
2,15482,7NSE0G0R,2023/12/26,15400,False,NaN,現金,1.0
3,17107,WVCPYZBH,2021/2/19,17100,False,NaN,カード,2.0
4,24156,OELTJ7E2,2020/10/8,24100,True,23100.0,カード,1.0
...,...,...,...,...,...,...,...,...
458162,24236,YF829ECH,44820,188800,False,NaN,カード,1.0
458163,12691,SPDDDXY2,43903,177200,False,NaN,カード,2.0
458164,24355,UA56Q0XP,44572,141700,False,NaN,現金,2.0
458165,24126,G4WT97YC,43545,224400,False,NaN,現金,1.0
458166,12370,1QDAGFIK,45434,217300,False,NaN,電子マネー,1.0

In [4]:
df.describe()

,customer_id,purchase_amount,final_settlement_amount,purchase_channel
count,458167.000000,458167.000000,16872.000000,458166.000000
mean,191266.920025,84456.761617,79702.982693,1.715837
std,83365.046865,96068.130787,90292.655099,0.917242
min,10000.000000,5000.000000,5035.000000,1.000000
25%,124531.500000,9300.000000,8835.000000,1.000000
50%,216051.000000,63000.000000,59565.000000,2.000000
75%,265586.000000,108600.000000,103402.000000,2.000000
max,287234.000000,981600.000000,843315.000000,6.000000

In [6]:
df.dtypes

customer_id                  int64
product_id                  object
purchase_date               object
purchase_amount              int64
redeem_coupon                 bool
final_settlement_amount    float64
payment_method              object
purchase_channel           float64
dtype: object

In [7]:
# pandasでデータ型を変換します
df["customer_id"] = df["customer_id"].astype("object")
df.dtypes

customer_id                 object
product_id                  object
purchase_date               object
purchase_amount              int64
redeem_coupon                 bool
final_settlement_amount    float64
payment_method              object
purchase_channel           float64
dtype: object

In [8]:
# 今回用意しているデータセットのcustomer_idは、00000001といった、いわゆるゼロ埋めの連番を数値を使っています。
# これを誤認識させないためには、取り込み時に「文字列として読み込む」ことが重要です。

# csutomer_idを文字列として指定し取り込み
df = pd.read_csv("../data/transaction_history.csv", dtype={"customer_id": str})
df.head()

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
0,00023085,G03257PD,2020/3/13,7200,True,6200.0,現金,2.0
1,00015469,CKZF21ZC,2023/3/29,15400,False,NaN,カード,2.0
2,00015482,7NSE0G0R,2023/12/26,15400,False,NaN,現金,1.0
3,00017107,WVCPYZBH,2021/2/19,17100,False,NaN,カード,2.0
4,00024156,OELTJ7E2,2020/10/8,24100,True,23100.0,カード,1.0