In [4]:
# å¿…è¦ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ãƒãƒ¼ãƒˆ
import pandas as pd

## ğŸ“Š ã‚¯ãƒ­ã‚¹é›†è¨ˆï¼ˆäº¤å·®é›†è¨ˆï¼‰ã®ä»•çµ„ã¿

### âœ… æ¦‚è¦

ã‚¯ãƒ­ã‚¹é›†è¨ˆï¼ˆäº¤å·®é›†è¨ˆã€`crosstab`ï¼‰ã¨ã¯ã€**2ã¤ä»¥ä¸Šã®ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°ã®çµ„ã¿åˆã‚ã›ã”ã¨ã«ä»¶æ•°ï¼ˆé »åº¦ï¼‰ã‚’é›†è¨ˆã™ã‚‹æ‰‹æ³•**ã§ã‚ã‚‹ã€‚  
ã“ã‚Œã¯ã€ã‚«ãƒ†ã‚´ãƒªé–“ã®é–¢ä¿‚æ€§ã‚’å®šé‡çš„ã‹ã¤è¦–è¦šçš„ã«æ‰ãˆã‚‹ãŸã‚ã®åŸºæœ¬çš„ãªé›†è¨ˆæ–¹æ³•ã§ã‚ã‚Šã€Excelã«ãŠã‘ã‚‹ã€Œãƒ”ãƒœãƒƒãƒˆãƒ†ãƒ¼ãƒ–ãƒ«ã€ã¨åŒæ§˜ã®æ“ä½œã§ã‚ã‚‹ã€‚

---

### ğŸ›  ä½¿ç”¨æ–¹æ³•ï¼ˆpandasï¼‰

```python
pd.crosstab(è¡Œæ–¹å‘ã®ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°, åˆ—æ–¹å‘ã®ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°)
```

ä¾‹ï¼š

```python
pd.crosstab(df["gender"], df["region"])
```

---

### ğŸ“‹ å‡ºåŠ›ã•ã‚Œã‚‹è¡¨ã®æ§‹é€ 

- **è¡Œï¼ˆindexï¼‰**ï¼šæœ€åˆã®å¼•æ•°ï¼ˆä¾‹ï¼š`gender`ï¼‰
- **åˆ—ï¼ˆcolumnsï¼‰**ï¼š2ç•ªç›®ã®å¼•æ•°ï¼ˆä¾‹ï¼š`region`ï¼‰
- **ã‚»ãƒ«ã®å€¤**ï¼šè¡Œã¨åˆ—ã®ã‚«ãƒ†ã‚´ãƒªãŒä¸€è‡´ã™ã‚‹è¡Œæ•°ï¼ˆï¼ä»¶æ•°ï¼‰

| gender | é–¢æ± | é–¢è¥¿ |
|--------|------|------|
| å¥³æ€§   | 120  | 85   |
| ç”·æ€§   | 100  | 95   |
| ãã®ä»– | 5    | 2    |

---

### ğŸ” èƒŒå¾Œã§è¡Œã‚ã‚Œã¦ã„ã‚‹å‡¦ç†

1. `gender` ã¨ `region` ã®ã™ã¹ã¦ã®ãƒ¦ãƒ‹ãƒ¼ã‚¯ãªå€¤ã®çµ„ã¿åˆã‚ã›ã‚’åˆ—æŒ™
2. å„çµ„ã¿åˆã‚ã›ã«å¯¾ã—ã¦è©²å½“ã™ã‚‹è¡Œã‚’ãƒ•ã‚£ãƒ«ã‚¿ï¼ˆä¾‹ï¼š`df[(df["gender"] == "å¥³æ€§") & (df["region"] == "é–¢æ±")]`ï¼‰
3. ãã®è¡Œæ•°ã‚’ã‚«ã‚¦ãƒ³ãƒˆã—ã¦è¡¨ã«ã¾ã¨ã‚ã‚‹

---

### ğŸ¯ ã‚¯ãƒ­ã‚¹é›†è¨ˆã®ç”¨é€”

- ã‚«ãƒ†ã‚´ãƒªåŒå£«ã®**é–¢ä¿‚æ€§ãƒ»åˆ†å¸ƒã®å¯è¦–åŒ–**
- **åã‚Šã‚„ãƒã‚¤ã‚¢ã‚¹ã®æ¤œå‡º**
- å±¤åˆ¥ã‚µãƒ³ãƒ—ãƒªãƒ³ã‚°ã‚„ã‚»ã‚°ãƒ¡ãƒ³ãƒˆåˆ†æã®å‰æº–å‚™
- ãƒ¢ãƒ‡ãƒ«å­¦ç¿’æ™‚ã®**ã‚¯ãƒ©ã‚¹ãƒãƒ©ãƒ³ã‚¹ã®ç¢ºèª**

---

### ğŸ’¡ å¿œç”¨ä¾‹

- **åˆè¨ˆè¡Œãƒ»åˆ—ã®è¡¨ç¤º**ï¼š
  
  ```python
  pd.crosstab(df["gender"], df["region"], margins=True)
  ```

- **å‰²åˆã§è¡¨ç¤º**ï¼ˆè¡Œã”ã¨ã«æ­£è¦åŒ–ï¼‰ï¼š

  ```python
  pd.crosstab(df["gender"], df["region"], normalize="index")
  ```

- **è¤‡æ•°ã®å¤‰æ•°ã‚’çµ„ã¿åˆã‚ã›ã‚‹**ï¼š

  ```python
  pd.crosstab([df["gender"], df["age_group"]], df["region"])
  ```

---

### âœ… ã¾ã¨ã‚

ã‚¯ãƒ­ã‚¹é›†è¨ˆã¯ã€ã‚«ãƒ†ã‚´ãƒªãƒ‡ãƒ¼ã‚¿ã®å‚¾å‘ã‚’æŠŠæ¡ã™ã‚‹ãŸã‚ã®åŸºæœ¬ã‹ã¤å¼·åŠ›ãªæ‰‹æ³•ã§ã‚ã‚‹ã€‚  
ç‰¹ã«å‰å‡¦ç†ã‚„æ¢ç´¢çš„ãƒ‡ãƒ¼ã‚¿åˆ†æï¼ˆEDAï¼‰ã«ãŠã„ã¦ã€ãã®æ´»ç”¨ã¯æ¬ ã‹ã›ãªã„ã€‚

In [ ]:
# master_customerã‚’dfã«å–ã‚Šè¾¼ã¿ã€df ã«ã‚ã‚‹genderã¨regionã‚’ã‚¯ãƒ­ã‚¹é›†è¨ˆ
master_customer = pd.read_csv("../data/master_customer.csv", dtype={"customer_id": str})
df = master_customer

# genderã¨regionã®ã‚¯ãƒ­ã‚¹é›†è¨ˆ
cross_tab = pd.crosstab(df["gender"], df["region"])
cross_tab

region,äº¬éƒ½åºœ,ä½è³€çœŒ,åŒ—æµ·é“,å’Œæ­Œå±±çœŒ,åŸ¼ç‰çœŒ,å¤§åˆ†çœŒ,å¤§é˜ªåºœ,å¥ˆè‰¯çœŒ,å®®åŸçœŒ,å¯Œå±±çœŒ,...,ç¥å¥ˆå·çœŒ,ç¦å²¡çœŒ,ç§‹ç”°çœŒ,èŒ¨åŸçœŒ,é•·é‡çœŒ,é’æ£®çœŒ,é™å²¡çœŒ,é«˜çŸ¥çœŒ,é³¥å–çœŒ,é¹¿å…å³¶çœŒ
gender,,,,,,,,,,,,,,,,,,,,,
0.0,226,127,249,119,255,136,365,131,134,119,...,276,273,101,241,135,124,127,128,115,123
1.0,147,88,154,76,161,72,229,73,80,79,...,134,168,81,158,70,79,76,77,81,83
2.0,5,1,8,3,4,3,9,2,0,2,...,1,3,3,6,2,1,2,1,3,1

In [7]:
# å¿…è¦ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ãƒãƒ¼ãƒˆ
import pandas as pd


# ãƒ‡ãƒ¼ã‚¿ã‚’èª­ã¿è¾¼ã‚€
transaction_history = pd.read_csv("../data/transaction_history.csv", dtype={"customer_id": str})

# é¡§å®¢IDã”ã¨ã®è¡Œæ•°ï¼ˆè³¼è²·å›æ•°ï¼‰ã‚’é›†è¨ˆ
customer_purchase_counts = (
    transaction_history["customer_id"].value_counts().reset_index()
)
customer_purchase_counts.columns = ["customer_id", "purchase_count"]

# çµæœã®è¡¨ç¤º
customer_purchase_counts

       customer_id  purchase_count
0         00284868              15
1         00284913              15
2         00284906              15
3         00284907              15
4         00284908              15
...            ...             ...
277230    00102423               1
277231    00102424               1
277232    00102425               1
277233    00102426               1
277234    00287234               1

[277235 rows x 2 columns]

In [10]:
# purchase_dateã‚’datetimeå‹ã«å¤‰æ›, ã‚¨ãƒ©ãƒ¼ã«ãªã‚‹å ´åˆã¯ç„¡è¦–ã—ã¦å‡¦ç†ã‚’ç¶šè¡Œ
transaction_history["purchase_date"] = pd.to_datetime(
    transaction_history["purchase_date"], errors="coerce"
)

# ã‚¨ãƒ©ãƒ¼ã«ãªã‚‹è¡Œã‚’ç¢ºèª (purchase_dateãŒNaTã«ãªã£ã¦ã„ã‚‹è¡Œ)
error_rows = transaction_history[transaction_history["purchase_date"].isnull()]
print(f"Error rows:\n{error_rows}")

# customer_idã”ã¨ã«purchase_dateã®æœ€æ–°æ—¥ä»˜ã‚’å–å¾—
latest_purchase_dates = (
    transaction_history.groupby("customer_id")["purchase_date"].max().reset_index()
)

# çµæœã‚’è¡¨ç¤º
latest_purchase_dates.head()

Error rows:
       customer_id product_id purchase_date  purchase_amount  redeem_coupon  \
1321      00011316   092V2XUB           NaT             8100          False
7329      00017324   Y8P9D94C           NaT           468600          False
24489     00034484   8WIZH3FY           NaT             8800          False
25865     00035860   0FK3T96F           NaT            62200          False
27703     00037698   3GNEZ25O           NaT            74300          False
...            ...        ...           ...              ...            ...
458162    00024236   YF829ECH           NaT           188800          False
458163    00012691   SPDDDXY2           NaT           177200          False
458164    00024355   UA56Q0XP           NaT           141700          False
458165    00024126   G4WT97YC           NaT           224400          False
458166    00012370   1QDAGFIK           NaT           217300          False

        final_settlement_amount payment_method  purchase_channel
1321                        NaN             ç¾é‡‘               1.0
7329                        NaN            ã‚«ãƒ¼ãƒ‰               2.0
24489                       NaN             ç¾é‡‘               1.0
25865                       NaN            ã‚«ãƒ¼ãƒ‰               1.0
27703                       NaN             ç¾é‡‘               2.0
...                         ...            ...               ...
458162                      NaN            ã‚«ãƒ¼ãƒ‰               1.0
458163                      NaN            ã‚«ãƒ¼ãƒ‰               2.0
458164                      NaN             ç¾é‡‘               2.0
458165                      NaN             ç¾é‡‘               1.0
458166                      NaN          é›»å­ãƒãƒãƒ¼               1.0

[597 rows x 8 columns]

  customer_id purchase_date
0    00010000    2018-11-30
1    00010001    2021-10-18
2    00010002    2018-01-15
3    00010003    2018-03-27
4    00010004    2024-12-07